@import "../../scss/colors";

.productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.padd-20 {
    padding: 20px;
}

.container-header {
    height: 50px;
    background-color: $yellow;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
}

.search-btn {
    background-color: $light-gray;
    color: $black;
    border: 0;
    width: 45px;
}

.search-input-container {
    width: 80%;
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-white {
    background-color: $white;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.absolute {
    position: absolute;
}

.route-description {
    color: $gray;
}

.products-container {
    height: 850px;
}

.base-container {
    height: 100%;
    width: 100%;
}

.br-4 {
    border-radius: 4px;
}

.address-style {
    text-align: center;
    width: 100%;
    margin-bottom: 6rem;
}

.pointer {
    cursor: pointer;
}
